html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.dashboard-menu {
  padding: 1em 0;
}

.dashboard-menu .menu-label:not(:first-child) {
  margin-top: 2.5em;
}

.dashboard-menu .menu-list a {
  padding: 0.5em 1.5em;
}

.dashboard-menu .menu-list a:hover {
  color: #ffad33;
}

a.nuxt-link-exact-active {
  color: #ffad33;
  background-color: whitesmoke;
}

div.navbar-brand a {
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

@media (min-width: 1023px) {
  .section {
    padding: 1rem 0rem;
  }
}
